{% extends "layout.html" %}

{% block title %}
    CONGRATS! YOU ARE CORRECT!
{% endblock %}

{% block main %}
<div class="mt-4 p-5 bg-light text-black rounded">
    <div>
        <img src="/static/images/correct.gif" width="250" height="300">
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="/playgame"><h3>next</h3></a>
            </div>
            <div class="col">
                <a href="/about"><h3>about</h3></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}