{% extends "layout.html" %}

{% block title %}
    GUESS THAT CITY
{% endblock %}

{% block main %}
<div class="mt-4 p-5 bg-light text-black rounded">
    <h2>Our Project</h2>
    <div class="container">
        <p>
            Add description here

        </p>      
    </div>
</div>

<div class="mt-4 p-5 bg-light text-black rounded">
    <div class="container">
        <h2>PLAY THE GAME HERE</h2>
        <div class="container">
        <p> 
            Hover over a labelled graffito on either of the architectural drawings provided, Tower or Gate. Follow the link to see a page which will include a transcription and translation of the graffito as well as accompanying metadata as available (Period, Letter Height, Notes, etc.). If available, a picture of the text will be included.
        </p>
      </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="/playgame"><h3>play game</h3></a>
            </div>
            <div class="col">
                <a href="/about"><h3>about</h3></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}