{% extends "layout.html" %}

{% block title %}
    GUESS THAT CITY
{% endblock %}

{% block main %}


<script>
    function toggle_display(){
        el = document.getElementById("hint");
        el.style.visibility = "visible";
}
</script>

<div class="mt-4 p-5 bg-light text-black rounded">
    <div class="container">

        <p>{{city_funfact}}</p>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="guess" name="guess" placeholder="Guess the City" type="text">
        </div>

        <div style="visibility: hidden" id="hint">
            This city is located in {{city_state}}
        </div>

        <button onclick= "toggle_display()">Give me a Hint</button>


        <button type="submit">Submit</button>

        <div class="row align-items-start">
            <div class="col">
                <a href="/"><h3>Back</h3></a>
            </div>
            <div class="col">
                <a href="/about"><h3>about</h3></a>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
