{% extends "layout.html" %}

{% block title %}
    YOU ARE WRONG
    <h4>
        The correct answer was {{city_name}}
    </h4> 

{% endblock %}

{% block main %}
<div>
    <img src="/static/images/incorrect.gif">
</div>

<div class="mt-4 p-5 bg-light text-black rounded">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="/playgame"><h3>play again</h3></a>
            </div>
            <div class="col">
                <a href="/about"><h3>about</h3></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}